<% content_for :title do %><%=h @blog.name %><% end %>
<% content_for :header do -%>
<div id="blog_name"><h1><%=h @blog.name %></h1></div>
<div id="blog_description"><h2><%=h @blog.description %></h2></div>
<% end -%>

<% if logged_in? && @blog.users.include?(logged_in_user) -%>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Create Post', new_post_path(:blog => @blog) %>
<% end -%>

<%= render :partial => "post", :collection => @blog.published_posts %>

