<div class="comment" id="comment_<%= comment.id %>">
<div class="comment_header">
<% if comment_counter && comment_counter > 0 -%>
<span class="comment_count"><%= comment_counter %>.</span>
Comment by 
<% else -%>
New comment by
<% end -%>
<span class="commenter">
<% unless comment.commenter_email.blank? -%>
<%= mail_to comment.commenter_email, comment.commenter_name, :style => "color:white" %>
<% else -%>
<%=h comment.commenter_name  %>
<% end -%>
</span>
 &mdash;
 <%= comment.created_at.strftime "%Y-%m-%d %H:%M" %>
</div>
<div class="comment_content">
<% if comment.title -%>
<div class="comment_title">
<%= comment.title %>
</div>
<% end -%>
<% if comment.body -%>
<div class="comment_body">
<%= comment.body %>
</div>
<% end -%>
</div>
</div>

