<%
  @comment ||= Comment.new :post => @post
-%>

<% remote_form_for(@comment, :url => post_comment_path(@post, @comment)) do |f| -%>
  <div id="form_errors"><%= f.error_messages %></div>
<p>
  <b><%= f.label :commenter_name, "Name" %></b><br/>
  <%= f.text_field :commenter_name %>
</p>
<p>
  <b><%= f.label :commenter_email, "Email" %></b><br/>
  <%= f.text_field :commenter_email %>
</p>
<p>
  <b><%= f.label :commenter_url, "Website" %></b><br/>
  <%= f.text_field :commenter_url %>
</p>
<p>
  <b><%= f.label :body, "Comment Text" %></b><br/>
  <%= f.text_area :body, :size => "50x8", :value => (@comment.content ? @comment.content.source : "") %>  
</p>

<p>
  <b>CAPTCHA (<%= link_to "What's this?", "http://recaptcha.net/captcha.html", :popup => true %>)</b><br />
  <%= get_captcha() %>
</p>
<p>
  <%= f.submit "Save" %>
</p>

<% end -%>

