<% content_for :title do %><%=h @post.title %> | <%=h @post.blog.name %><% end -%>
<% content_for :header do -%>
<div id="blog_name"><h1><%=link_to @blog.name, blog_path(@blog), :style => "color:#736451;text-decoration:none" %></h1></div>
<div id="blog_description"><h2><%=h @blog.description %></h2></div>
<% end -%>
<%= render :partial => "blogs/post", :locals => { :post => @post } %>

<% if logged_in? && @post.blog.users.include?(logged_in_user) -%>
<%= link_to 'Edit', edit_post_path(@post) %>
<% end -%>

<script type="text/javascript">
  $$('.comments_info').each(function(e) {e.hide();});
</script>


<p><a name="comments" style="text-decoration:none">
<%- unless @comments.empty? -%>
Comments (<%= @comments.size %>):
<%- else -%>
No comments posted.
<%- end -%>
</a>
<%= 
  link_to_function "Add comment &raquo;", nil, :id => "form_show_link" do |page|
#    page[:comment_form].visual_effect :appear, :after_finish => '$("comment_commenter_name").focus();'
    page[:comment_form].show
    page[:form_show_link].hide
    page[:form_hide_link].show
    page[:comment_commenter_name].focus
  end -%>
<%= 
  link_to_function "&laquo; Hide comment form", nil, :id => "form_hide_link", :style=>"display:none" do |page|
    page[:comment_form].visual_effect :switch_off, :duration => 0.3
    page[:form_hide_link].hide
    page[:form_show_link].show
  end -%>
</p>

<div id="comment_form" style="display:none">
<%= render :partial => "comments/form" %>
</div>

<% if @comments -%>
<div id="comments">
<%= render :partial => "comments/comment", :collection => @comments %>
</div>
<% end -%>

