<html>
<head>
  <title><%= yield :title %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "blogs_alt" %>
  <%= stylesheet_link_tag "blogs_extras" %>
  <%= calendar_date_select_includes %>
  <%= stylesheet_link_tag "SyntaxHighlighter" %>
  <%= javascript_include_tag "syntax_highlighter/shCore.js" %>
  <%= javascript_include_tag "syntax_highlighter/shBrushRuby.js" %>
  <%= javascript_include_tag "syntax_highlighter/shBrushXml.js" %>
  <%= javascript_include_tag "syntax_highlighter/shBrushCss.js" %>
  <%= javascript_include_tag "syntax_highlighter/shBrushJScript.js" %>
  <%= javascript_include_tag "syntax_highlighter/shBrushJava.js" %>
  <%= javascript_include_tag "syntax_highlighter/shBrushBash.js" %>
  <link rel="shortcut icon" href="/favicon.ico">
<% if @blog -%>
  <%= auto_discovery_link_tag(:rss, "/feed/#{@blog.id}") %>
<% end -%>
  <style>
    #header {
    }
    #content {
      padding-top: 20px;
      background-image: url(/images/ruby_on_white_500x86.jpg);
      background-repeat: no-repeat;
    }
  </style>
</head>
<body>

<div id="contentc">
<div id="content">
<div id="header">
<% if logged_in? %>Logged in as <%= logged_in_user.username %>. (<%=link_to "Logout", :controller => :sessions, :action => "logout"%>)<% end -%>
<%= yield :header %>
</div> <!-- header -->
<div id="mainbar">
<%= render :partial => "shared/flash_messages" %>

<%= yield %>
</div><!-- mainbar -->
</div><!-- content -->
</div><!-- contentc -->

</body>
<script language="javascript">
dp.SyntaxHighlighter.ClipboardSwf = '/javascript/syntax_highlighter/clipboard.swf';
dp.SyntaxHighlighter.HighlightAll('code');
</script>
<!-- Google Analytics BEGIN -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5173753-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics END -->
</html>

